.headerMain {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-image: linear-gradient(to bottom, #232323, #0e0e0e);
    border-radius: 10px 10px 0 0;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image {
    margin: 20px auto;
    box-shadow: 0 0 10px #151515;
    border: 1px solid transparent;
}

.headerText {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding: 10px 0;
}

.textTitle {
    font-size: 52px;
    color: white;
}

.userLink {
    font-size: 36px;
    color: white;
    transition-duration: 400ms;
}

.userLink:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.genre {
    color: #a8a8a8;
    font-size: 16px;
}

.link {
    margin-left: 5px;
    transition-duration: 400ms;
}

.link:hover {
    transition-duration: 400ms;
    color: #F64141;
}

.description {
    display: flex;
    font-size: 16px;
    padding: 20px;
    color: #505050;
    gap: 20px;
}

.scoresContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scoresItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
}

.scoresItemLeft {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #F64141;
    border-radius: 10px 0 0 10px;
}

.scoresItemRight {
    margin-left: 2px;
    padding: 10px 10px;
    background-color: #F64141;
    border-radius: 0 10px 10px 0;
}

.trackList {
    padding: 20px;
    background-color: #0e0e0e;
}