.headerMain {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-image: linear-gradient(to bottom, #232323, #0e0e0e);
    border-radius: 10px 10px 0 0;
}

.headerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.image {
    box-shadow: 0 0 10px #151515;
    border: 1px solid transparent;
}

.headerText {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.collectionInfo {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-end;
    gap: 30px;
    margin: auto 0;
}

.textTitle {
    font-size: 52px;
    color: white;
}

.userLink {
    font-size: 36px;
    color: white;
    transition-duration: 400ms;
}

.userLink:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.genre {
    color: #a8a8a8;
    font-size: 16px;
}

.link {
    margin-left: 5px;
    transition-duration: 400ms;
}

.link:hover {
    transition-duration: 400ms;
    color: #F64141;
}

.description {
    display: flex;
    font-size: 16px;
    padding: 20px;
    color: #505050;
    gap: 20px;
}

.scoresContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scoresItem {
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
}

.scoresItemLeft {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #F64141;
    border-radius: 10px 0 0 10px;
}

.scoresItemRight {
    margin-left: 2px;
    padding: 10px 10px;
    background-color: #F64141;
    border-radius: 0 10px 10px 0;
}

.trackList {
    padding: 20px;
    background-color: #0e0e0e;
    border-radius: 0 0 10px 10px;
}

.actionContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0e0e0e;
    color: #888888;
}

.favActionEmpty {
    font-size: 32px;
    cursor: pointer;
    transition-duration: 200ms;
}

.favActionEmpty:hover {
    color: #F64141;
    transform: scale(1.2);
    transition-duration: 200ms;
}

.favActionFill {
    font-size: 32px;
    color: #F64141;
    transition-duration: 200ms;
}

.favActionFill:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

.loading {
    font-size: 32px;
    color: #F64141;
}

.notification {
    font-size: 16px;
    color: white;
}