.main {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 20%;
    gap: 30px;
}

.emptyList {
    font-weight: bold;
    font-size: 44px;
    color: #888888;
    text-align: center;
    margin: 10px 0;
}