.main {
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    width: 180px;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 500ms;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    color: #888888;
}

.main:hover {
    color: white;
    transform: scale(1.02);
    background-color: #595959;
    transition-duration: 500ms;
}

.image {
    border-radius: 5px;
    box-shadow: 0 5px 20px black;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 170px;
    margin-top: 20px;
    padding: 0 10px 5px 10px;
}

.name {
    font-size: 14px;
}

.description {
    margin-top: 10px;
    font-size: 12px;
}