.main {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding-bottom: 10px;
    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    color: #888888;
    transition-duration: 200ms;
}

.main:hover {
    color: white;
    transform: scale(1.02);
    background-color: #595959;
    transition-duration: 200ms;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 181px;
    height: 181px;
    position: absolute;
    opacity: 0;
    padding-bottom: 10px;
    transition: opacity 400ms ease;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px 5px 0 0;
}

.overlay:hover {
    opacity: 1;
}

.showInfoContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
}

.playButton {
    font-size: 60px;
    transition-duration: 200ms;
}

.playButton:hover {
    color: #F64141;
    transition-duration: 200ms;
}

.tracksCount {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.textContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition-duration: 200ms;
}

.textContainer:hover {
    color: #F64141;
    transition-duration: 200ms;
}

.name {
    font-size: 14px;
}

.description {
    font-size: 12px;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.favInfo {
    display: flex;
    flex-flow: row wrap;
    color: white;
}

.favText {
    padding: 5px;
    background-color: #333333;
    border-radius: 5px 0 0 5px;
}

.favScore {
    padding: 5px;
    margin-left: 2px;
    background-color: #333333;
    border-radius: 0 5px 5px 0;
}

.favActionEmpty {
    font-size: 20px;
    cursor: pointer;
    transition-duration: 200ms;
}

.favActionEmpty:hover {
    color: #F64141;
    transform: scale(1.2);
    transition-duration: 200ms;
}

.favActionFill {
    font-size: 20px;
    color: #F64141;
    transition-duration: 200ms;
}

.favActionFill:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

.loading {
    font-size: 20px;
    color: #F64141;
}

.notification {
    font-size: 16px;
    color: white;
}