.confirmMainContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px;
    color: #999999;
}

.confirmButton {
    padding: 10px 20px;
    box-shadow: 0 0 5px #00ff5c;
    border-radius: 10px;
    text-transform: uppercase;
    transition-duration: 200ms;
}

.confirmButton:hover {
    background-color: #00ff5c;
    box-shadow: 0 0 10px #00ff5c;
    color: black;
    transition-duration: 200ms;
}

.confirmContainer {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.confirmTitle {
    text-transform: uppercase;
}

.confirmChoiceButtonYes {
    padding: 10px;
    box-shadow: 0 0 5px #00ff5c;
    border-radius: 10px;
    transition-duration: 200ms;
}

.confirmChoiceButtonYes:hover {
    padding: 10px;
    background-color: #00ff5c;
    box-shadow: 0 0 10px #00ff5c;
    border-radius: 10px;
    color: black;
    transition-duration: 200ms;
}

.confirmChoiceButtonNo {
    padding: 10px;
    box-shadow: 0 0 5px #F64141;
    border-radius: 10px;
    transition-duration: 200ms;
}

.confirmChoiceButtonNo:hover {
    padding: 10px;
    background-color: #F64141;
    box-shadow: 0 0 10px #F64141;
    border-radius: 10px;
    color: black;
    transition-duration: 200ms;
}