.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #181818;
    width: 190px;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    transition-duration: 500ms;
    cursor: pointer;
    margin: 5px auto;
}

.container:hover{
    transform: scale(1.02);
    background-color: #3d3d3d;
    transition-duration: 500ms;
}

.image {
    border-radius: 5px;
    box-shadow: 0 5px 20px black;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 170px;
    color: white;
    margin-top: 20px;
    transition-duration: 400ms;
}

.name {
    font-size: 14px;
}

.description {
    margin-top: 10px;
    font-size: 12px;
}

.textContainer:hover {
    transition-duration: 400ms;
    color: #f54141;
}