.loadingContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.loadingTitle {
    color: #999999;
    font-size: 24px;
    text-transform: uppercase;
}

.loadingSpinner {
    color: #00ff5c;
    font-size: 40px;
}