.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.favoritesContainer {
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    border-radius: 10px;
}

.favoritesTitle {
    display: flex;
    padding: 10px 20px;
    background-color: rgba(246, 65, 65, .7);
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.favoritesItems {
    padding: 10px;
    background-color: #0e0e0e;
    border-radius: 0 0 10px 10px;
}

.mainListContainer {
    display: flex;
    flex-flow: column;
}

.listTitle {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #505050;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.listContainer {
    display: flex;
    padding: 20px 10px;
    background-color: #0e0e0e;
    border-radius: 0 0 10px 10px;
}

.emptyListContainer {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.emptyList {
    font-weight: bold;
    font-size: 44px;
    color: #888888;
    text-align: center;
    margin: 10px 0;
}

.notFound {
    text-align: center;
    font-size: 40px;
    color: #888888;
    margin-top: 40px;
}