.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav {
    display: flex;
    flex-direction: column;
}

.favItems {
    padding: 10px 15px;
    background-color: #0e0e0e;
    border-radius: 0 0 10px 10px;
}

.favText {
    padding: 30px 30px 20px 20px;
    text-align: right;
    background-color: #1c1c1c;
    color: white;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
}

.listText {
    margin: 25px 0 15px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.emptyListContainer {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.emptyList {
    font-weight: bold;
    font-size: 44px;
    color: #888888;
    text-align: center;
    margin: 10px 0;
}

.notFound {
    text-align: center;
    font-size: 40px;
    color: #888888;
    margin-top: 40px;
}