.mainContainer {
    display: flex;
    flex-flow: column;
    background-color: #0e0e0e;
    box-shadow: 0 0 10px #0e0e0e;
    border-radius: 10px;
}

.titleContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(246, 65, 65, .5);
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}

.title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
}

.link {
    font-size: 12px;
    color: #c44545;
    transition-duration: 400ms;
}

.link:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.rowContainer {
    padding: 10px;
    border-radius: 0 0 10px 10px;
}