.main {
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #121212;
    border-radius: 10px;
    padding: 10px 0 10px 34px;
    width: 300px;
    margin: 10px;
}

.containerRow {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
    align-items: center;
    transition-duration: 400ms;
}

.containerRow:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.rowElement {
    margin-left: 20px;
    font-size: 16px;
    transition-duration: 0ms;
}

.rowElement:hover {
    transition-duration: 400ms;
    color: #F64141;
}

.rowInput {
    padding: 0;
    margin-left: 20px;
    font-size: 18px;
    background-color: inherit;
    color: white;
}

.rowInput::placeholder {
    color: white;
}

.rowInput:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.dropDown {
    width: 300px;
    background-color: #121212;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px 0;
}

.dropDownLogout {
    background-color: inherit;
    border: none;
    width: 100%;
    cursor: pointer;
    text-align: start;
    padding: 10px 0;
    color: white;
    font-size: 14px;
}