.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/authBack.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    user-select: none;
}

.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 690px;
    padding: 30px 75px;
    background-color: #29292d;
    border-radius: 10px;
}

.formImage {
    margin: 40px 0;
}

.formItems {
    width: 300px;
    height: auto;
}

.formLink {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: inherit;
    color: #77787B;
    margin: auto 0 0 auto;
}

.formLink:hover {
    background-color: #F64141;
    color: white;
    transition-duration: 400ms;
}