.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editButton {
    margin-bottom: auto;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #595959;
    box-shadow: 0 0 2px #F64141;
    transition-duration: 400ms;
}

.editButton:hover {
    background-color: #F64141;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px #813232;
    transition-duration: 400ms;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 10px 10px 0 0;
}

.avatar {
    border: 2px solid #222326;
    border-radius: 50%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
}

.roles {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #a1a1a1;
    font-size: 14px;
}

.infoUsername {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

.description {
    display: flex;
    flex-direction: row;
    color: #77787B;
    font-size: 20px;
}

.infoDescription {
    padding: 10px;
    font-size: 14px;
}

.followContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}

.followElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 100%;
}

.followText {
    color: #888888;
    font-size: 20px;
    margin-bottom: 10px;
}

.followButton {
    border: none;
    font-size: 16px;
    width: auto;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 10px 20px;
    color: #888888;
    cursor: pointer;
}

.collectionContainer {
    background-color: #151515;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.collectionLink {
    border-radius: 0 0 10px 10px;
    background-color: #151515;
    width: 300px;
    align-self: center;
    text-align: center;
    padding: 5px 10px 10px 10px;
    font-size: 16px;
    color: #888888;
}

.collectionLink:hover {
    color: #F64141;
}