.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.tracksMainContainer {
    display: flex;
    flex-flow: column;
    background-color: #101010;
    border-radius: 10px;
}

.titleContainer {
    display: flex;
    flex-flow: row;
    padding: 10px 20px;
    background-color: #505050;
    border-radius: 10px 10px 0 0;
}

.title {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
}

.tracksContainer {
    padding: 10px;
    border-radius: 0 0 10px 10px;
}