.main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(to bottom, #232323, #0e0e0e);
    border-radius: 10px 10px 0 0;
}

.infoMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image {
    margin: 20px auto;
    box-shadow: 0 0 10px #151515;
    border: 1px solid black;
}

.infoText {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.infoTextFooter {
    margin-top: 50px;
}

.infoTextFooter > * {
    margin: 10px 0;
}

.trackOwnerText {
    font-size: 52px;
    text-transform: uppercase;
}

.trackNameText {
    margin-left: 5px;
    font-size: 36px;
}

.trackInfo {
    color: #a8a8a8;
    font-size: 16px;
}

.link {
    margin-left: 5px;
    transition-duration: 400ms;
}

.link:hover {
    transition-duration: 400ms;
    color: #F64141;
}

.description {
    display: flex;
    padding: 20px;
    font-size: 16px;
    color: #505050;
    gap: 20px;
}

.scoresContainer {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.scoresItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
}

.scoresItemLeft {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #F64141;
    border-radius: 10px 0 0 10px;
}

.scoresItemRight {
    margin-left: 2px;
    padding: 10px 10px;
    background-color: #F64141;
    border-radius: 0 10px 10px 0;
}

.commentContainer {
    background-color: #0e0e0e;
    padding: 20px;
}

.commentContainerEntities {
    padding: 10px 50px;
}

.commentTitle {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    text-align: right;
}

.commentInputContainer {
    color: white;
    text-align: right;
}

.commentInputTitle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.commentInput {
    background-color: inherit;
    padding: 20px 30px;
    color: white;
    margin-bottom: 20px;
}

.commentList {
    margin: 10px 0;
    color: white;
}

.commentItem {
    margin: 20px auto;
    padding: 0 30px 20px 30px;
    border-radius: 10px;
    border: 1px solid #232323;
}

.comment {
    text-align: start;
    word-wrap: break-word;
    color: #cbcbcb;
}

.editButtons {
    text-align: end;
    margin: 10px auto 0 auto;
    color: #39393d;
}

.editButtons > * {
    margin: 0 5px;
}

.edit {
    font-size: 14px;
    margin-top: 20px;
    padding: 7px 15px;
    background-color: inherit;
    color: #39393d;
    border: 1px solid #39393d;
    border-radius: 10px;
    transition-duration: 200ms;
    cursor: pointer;
}

.edit:hover {
    color: #24fd78;
    border: 1px solid #24fd78;
    transition-duration: 200ms;
}

.iconDelete {
    transition-duration: 200ms;
}

.iconEdit {
    transition-duration: 200ms;
}

.iconDelete:hover {
    color: #F64141;
    transition-duration: 200ms
}

.iconEdit:hover {
    color: #24fd78;
    transition-duration: 200ms
}

.notification {
    font-size: 16px;
    color: white;
}