.container {
    display: flex;
    flex-flow: wrap column;
    padding: 10px;
    gap: 20px;
}

.title {
    margin: 10px 0;
    text-transform: uppercase;
    color: white;
}

.editButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.editButton {
    padding: 10px 20px;
    box-shadow: 0 0 5px #F64141;
    border-radius: 10px;
    color: #888888;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 200ms;
}

.editButton:hover {
    background-color: #F64141;
    box-shadow: 0 0 10px #F64141;
    color: black;
    transition-duration: 200ms;
}

.trackContainer {
    display: flex;
    flex-flow: wrap column;
    padding: 20px;
    gap: 20px;
    background-color: #0e0e0e;
    border-radius: 10px;
}

.trackInfoContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.imageContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(246, 65, 65, .5);
    border-radius: 2px;
}

.image {
    transition-duration: 200ms;
}

.image:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.trackName {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #999999;
}

.scoresContainer {
    display: flex;
    flex-flow: row;
    flex: 0 0 50%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(28, 28, 28, .6);
    border-radius: 5px;
}

.scoresTitle {
    text-transform: uppercase;
    color: #d0d0d0;
}

.scoreContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 10px;
}

.scoreTitle {
    padding: 5px 10px;
    background-color: #F64141;
    border-radius: 10px 0 0 10px;
}

.scoreCounter {
    padding: 5px 10px;
    background-color: #0e0e0e;
    border: 1px solid rgba(246, 65, 65, .5);
    border-radius: 0 10px 10px 0;
    color: #d0d0d0;
    transition-duration: 200ms;
}

.scoreCounter:hover {
    color: #0e0e0e;
    background-color: rgba(246, 65, 65, 1);
    border: none;
    transition-duration: 200ms;
}

.descriptionContainer {
    display: flex;
    flex-flow: column;
    padding: 10px 5px;
    gap: 20px;
    background-color: rgba(246, 65, 65, .3);
    border-radius: 5px;
}

.genreList {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(14,14,14, .5);
}

.genre {
    padding: 5px 10px;
    background-color: #00ff5c;
    box-shadow: 0 0 5px #00ff5c;
    border-radius: 10px;
    color: black;
}

.description {
    padding: 10px;
    color: white;
    background-color: rgba(14,14,14, .5);
}

.playerContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background-color: rgba(246, 65, 65, .3);
    border-radius: 10px;
}

.editContainer {
    display: flex;
    flex-flow: wrap column;
    padding: 10px 20px;
    gap: 20px;
    background-color: rgba(246, 65, 65, .4);
    border-radius: 10px;
}

.editGenre {
    display: flex;
    flex-flow: column;
    padding: 10px 20px;
    background-color: rgba(17,17,17, .5);
    border-radius: 10px;
}

.editMediaContainer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.filesContainer {
    display: flex;
    flex-flow: wrap column;
    gap: 10px;
}

.fileContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    background-color: rgba(17,17,17, .5);
    border-radius: 10px;
}

.editDescriptionContainer {
    display: flex;
    flex-flow: column;
    padding: 10px;
    gap: 20px;
    background-color: rgba(17,17,17, .5);
    border-radius: 10px;
}

.loadingSpinner {
    margin: 10px auto;
    font-size: 32px;
    color: #00ff5c;
}