.inputsContainer {
    display: flex;
    flex-flow: wrap column;
    gap: 10px;
}

.inputContainer {
    display: flex;
    flex-flow: wrap row;
    gap: 10px;
    padding: 10px;
    background-color: #0e0e0e;
    border-radius: 10px;
}

.inputTitle {
    text-transform: uppercase;
    color: #999999;
}

.inputField {
    background-color: inherit;
    color: white;
}