.main {
    user-select: none;
}

.banner {
    padding: 50px 0;
    background-image: url("../../../../../public/banner_full.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    color: white;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    font-size: 5rem;
    cursor: default;
    margin: 50px 0;
}

.secondTitle {
    font-size: 1.5rem;
}

.socialsTitle {
    font-size: 1.5rem;
    cursor: default;
}

.socialsIcons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 30px;
}

.icon {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding: 15px;
    margin: 0 15px;
    background-color: white;
    border-radius: 50%;
    color: black;
    transition-duration: 400ms;
}

.icon:hover {
    color: #F64141;
    transition-duration: 400ms;
}

.body {
   display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

.bodyTitle {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
    color: #222326;
}

.bodyList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.listItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

.itemText {
    width: 200px;
    margin-top: 15px;
    text-align: center;
    line-height: 1.5rem;
    cursor: default;
    color: #222326;
}