.main {
    display: flex;
    flex-flow: column;
}

.editButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #595959;
    font-size: 16px;
    box-shadow: 0 0 2px #F64141;
    transition-duration: 400ms;
}

.editButton:hover {
    background-color: #F64141;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px #813232;
    transition-duration: 400ms;
}

.subscribedButton {
    border: none;
    background-color: #1ac259;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0 0 2px #1ac259;
    transition-duration: 400ms;
}

.subscribedButton:hover {
    background-color: #F64141;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px #813232;
    transition-duration: 400ms;
}

.container {
    display: flex;
    flex-flow: wrap row;
    gap: 20px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(11, 11, 11, .7);
    border-radius: 10px 10px 0 0;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(246, 65, 65, .7);
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.avatar {
    border-radius: 50%;
    transition-duration: 300ms;
}

.avatar:hover {
    transform: scale(1.07);
    transition-duration: 300ms;
}

.emptyAvatar {
    font-size: 70px;
    padding: 60px;
    color: black;
    border: 5px solid black;
    border-radius: 50%;
    transition-duration: 200ms;
}

.emptyAvatar:hover {
    transform: scale(1.07);
    transition-duration: 200ms;
}

.infoContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.roles {
    text-transform: uppercase;
    color: #585858;
    font-size: 14px;
}

.infoUsername {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

.infoEmail {
    color: #888888;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #77787B;
    font-size: 20px;
}

.infoDescription {
    font-size: 14px;
}

.manageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.followContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.followElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.followText {
    padding: 5px;
    background-color: rgba(246, 65, 65, .7);
    border-radius: 10px 0 0 10px;
    color: #0e0e0e;
    font-size: 16px;
}

.followButton {
    font-size: 16px;
    background-color: #0e0e0e;
    border: solid 2px rgba(246, 65, 65, .5);
    border-radius: 0 10px 10px 0;
    padding: 5px 10px;
    color: #d0d0d0;
    cursor: pointer;
    transition-duration: 200ms;
}

.followButton:hover {
    border: solid 2px black;
    background-color: rgba(0, 255, 92, .7);
    color: white;
    transition-duration: 200ms;
}

.collectionContainer {
    background-color: #0e0e0e;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.collectionEmpty {
    padding: 20px;
    text-transform: uppercase;
    color: white;
}

.collectionLink {
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    background-color: #0e0e0e;
    align-self: center;
    padding: 10px 50px;
    font-size: 16px;
    color: #888888;
}

.collectionLink:hover {
    color: #F64141;
}

.editContainer {
    flex: 0 0 70%;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.editAboutContainer {
    display: flex;
    flex: 0 0 70%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #151515;
}

.editAboutText {
    color: #7c7c7c;
}

.editAboutInput {
    padding: 10px;
    background-color: inherit;
    color: #7c7c7c;
}

.editAboutInput:hover {
    color: white;
}

.uploadFile {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    border: 2px dashed #29292d;
    border-radius: 50%;
    color: #7c7c7c;
    font-size: 20px;
    margin: 20px 0;
    transition-duration: 200ms;
    cursor: pointer;
}

.uploadFile:hover {
    color: white;
    border: 2px solid #F64141;
    transition-duration: 200ms;
}

.uploadedFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed #69ee4a;
    font-size: 32px;
    color: #69ee4a;
}

.fetchingWarn {
    color: #888888;
    text-align: center;
    font-size: 44px;
    margin-top: 50px;
}

.fetchingWarn > * {
    margin: 20px;
}

.loadContainer {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    background-color: #0e0e0e;
    color: #888888;
    border-radius: 10px;
    font-size: 18px;
}

.loading {
    font-size: 34px;
    color: #69ee4a;
}

.notification {
    font-size: 16px;
    color: white;
}