.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #595959;
    font-size: 16px;
    box-shadow: 0 0 2px #F64141;
    transition-duration: 400ms;
}

.editButton:hover {
    background-color: #F64141;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px #813232;
    transition-duration: 400ms;
}

.subscribedButton {
    border: none;
    background-color: #1ac259;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0 0 2px #1ac259;
    transition-duration: 400ms;
}

.subscribedButton:hover {
    background-color: #F64141;
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px #813232;
    transition-duration: 400ms;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 10px 10px 0 0;
}

.avatar {
    border: 2px solid #222326;
    border-radius: 50%;
    margin-bottom: 20px;
}

.emptyAvatar {
    font-size: 70px;
    padding: 60px;
    color: #888888;
    border: 5px solid #888888;
    border-radius: 50%;
    margin-bottom: 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.roles {
    text-transform: uppercase;
    color: #585858;
    font-size: 14px;
}

.infoUsername {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

.infoEmail {
    color: #888888;
}

.description {
    display: flex;
    flex-direction: row;
    color: #77787B;
    font-size: 20px;
    margin-top: 20px;
}

.infoDescription {
    padding: 10px;
    font-size: 14px;
}

.manageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.followContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}

.followElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 100%;
}

.followText {
    color: #888888;
    font-size: 20px;
    margin-bottom: 10px;
}

.followButton {
    border: none;
    font-size: 16px;
    width: auto;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 10px 20px;
    color: #888888;
    cursor: pointer;
}

.collectionContainer {
    background-color: #151515;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.collectionEmpty {
    padding: 20px;
    text-transform: uppercase;
    color: white;
}

.collectionLink {
    border-radius: 0 0 10px 10px;
    background-color: #151515;
    width: 300px;
    align-self: center;
    text-align: center;
    padding: 5px 10px 10px 10px;
    font-size: 16px;
    color: #888888;
}

.collectionLink:hover {
    color: #F64141;
}

.editContainer {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.editAboutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #151515;
}

.editAboutText {
    color: #7c7c7c;
}

.editAboutInput {
    padding: 10px;
    background-color: inherit;
    color: #7c7c7c;
}

.editAboutInput:hover {
    color: white;
}

.uploadFile {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    border: 2px dashed #29292d;
    border-radius: 50%;
    color: #7c7c7c;
    font-size: 20px;
    margin: 20px 0;
    transition-duration: 200ms;
    cursor: pointer;
}

.uploadFile:hover {
    color: white;
    border: 2px solid #F64141;
    transition-duration: 200ms;
}

.uploadedFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed #69ee4a;
    font-size: 32px;
    color: #69ee4a;
}

.fetchingWarn {
    color: #888888;
    text-align: center;
    font-size: 44px;
    margin-top: 50px;
}

.fetchingWarn > * {
    margin: 20px;
}

.loadContainer {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    background-color: #0e0e0e;
    color: #888888;
    border-radius: 10px;
    font-size: 18px;
}

.loading {
    font-size: 34px;
    color: #69ee4a;
}

.notification {
    font-size: 16px;
    color: white;
}