.main {
    display: flex;
    flex-flow: row wrap;
    color: #77787B;
    padding: 0 20px;
}

.index {
    margin: 0 10px;
    flex: 0 0 15%;
}

.titles {
    display: flex;
    flex: 1 1 33%;
    margin: 0 30px;
    gap: 20px;
}

.name {
    flex: 1
}

.artist {
    flex: 1
}

.album {
    flex: 1
}

.actions {
    flex: 0 0 10%;
    margin: 0 10px;
}

.divider {
    border-bottom: 1px solid #343434;
    margin: 10px 0 0 0;
}

.emptyListContainer {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.emptyList {
    font-weight: bold;
    font-size: 44px;
    color: #888888;
    text-align: center;
    margin: 10px 0;
}