.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    padding: 10px 25px;
    color: #414141;
    transition-duration: 400ms;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    transition-duration: 400ms;
}

.imagePlayButtonContainer {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playButton {
    font-size: 30px;
    transition-duration: 200ms;
}

.playButton:hover {
    color: #F64141;
    transform: scale(1.1);
    transition-duration: 200ms;
}

.image {
    background-color: #29292d;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 0 5px black;
}

.trackContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-left: 40px;
}

.trackName {
    width: 150px;
}

.trackArtist {
    width: 200px;
}

.album {
    width: 200px;
}

.actionIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75px;
    margin-left: auto;
}

.favIcon {
    font-size: 25px;
    transition-duration: 400ms;
}

.favIcon:hover {
    color: #F64141;
    transform: scale(1.3);
    transition-duration: 400ms;
}

.favIconFill {
    font-size: 25px;
    color: #F64141;
    transition-duration: 400ms;
}

.favIconFill:hover {
    transform: scale(1.3);
    transition-duration: 400ms;
}

.dots {
    font-size: 25px;
}

.dots:hover {
    color: #F64141;
}

.divider {
    border-bottom: 1px solid #343434;
    margin: 0;
}