.mainContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-color: rgba(246, 65, 65, .7);
    color: #1c1c1c;
    transition-duration: 300ms;
}

.mainContainer:hover {
    background-color: #F64141;
    color: white;
    transition-duration: 300ms;
}

.popupBackgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition-duration: 300ms;
}

.popupBackgroundImage:hover {
    transition-duration: 300ms;
}

.popupMainContainer {
    display: flex;
    flex-flow: column;
    padding-top: 30px;
    gap: 20px;
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    transition-duration: 300ms;
}

.playerFooterContainer {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.popupInfoContainer {
    display: flex;
    flex-flow: row;
    position: fixed;
    top: 10%;
    left: 35%;
    justify-content: space-between;
    align-items: flex-start;
}

.playerPopupContainer {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(246, 65, 65, .7);
}