.trackInfoFooterContainer {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex: 0 0 20%;
}

.imagePause {
    box-shadow: 0 0 10px #1c1c1c;
    border-radius: 50%;
}

.imagePlay {
    box-shadow: 0 0 10px #1c1c1c;
    border-radius: 50%;
    animation: rotation 8s infinite linear;
}

.imagePopup {
    box-shadow: 0 0 10px #1c1c1c;
    border-radius: 5px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.trackNamesFooterContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
}

.trackFooterName {
    font-size: 14px;
}

.trackFooterArtist {
    font-size: 12px;
}

.trackInfoPopupContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
    padding: 20px;
    background-color: rgba(246, 65, 65, .6);
    border-radius: 5px;
}

.trackNamesPopupContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-transform: uppercase;
    color: #d0d0d0;
}

.trackPopupName {
    font-size: 20px;
}

.trackPopupArtist {
    font-size: 18px;
}