.container {
    display: flex;
    flex-flow: wrap column;
}

/*AdminHeader styles*/

.statistic {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    padding: 20px;
    gap: 30px;
    background-color: #0e0e0e;
    border-radius: 10px;
    color: #888888;
    margin-bottom: 20px;
}

.statisticEntities {
    display: flex;
    flex-flow: wrap row;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.statisticEntities > * {
    flex: 1 1 auto;
}

.statisticEntity {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #313131;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 200ms;
}

.statisticEntity:hover {
    color: white;
    background-color: #F64141;
    transform: scale(1.03);
    transition-duration: 200ms;
}

.statisticEntityTitle {
    padding: 10px;
    font-size: 12px;
}

.statisticScore {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: #0e0e0e;
    border-radius: 10px;
    transition-duration: 200ms;
}

.statisticScore:hover {
    color: #F64141;
    transform: scale(1.03);
    transition-duration: 200ms;
}